html, body {

    margin: 0;
    padding: 0;
    font-family: 'Arial', 'Helvetica', sans-serif;
    height: 100%;
    background: #efefef;

}
fieldset, canvas {

    box-shadow: 6px 6px 4px #bbbbbb;
    margin: 4px;
    border: none;

}
fieldset {

    background: #ffffff;
    position: relative;

}
legend {

    position: absolute;
    padding: 0;
    top: 8px;
    border-width: 0 0 1px;
    border-style: solid;

}

#video {

    display: none;

}
.wrapper {

    text-align: center;

}
.controls {

    display: inline-block;
    text-align: left;

}
.controls fieldset {

    padding: 32px 8px 8px 8px;
    width: 284px;
    display: none;
    vertical-align: top;

}
.controls fieldset.visible,
.controls fieldset.main {

    display: inline-block;

}
.controls label {

    position: relative;
    display: block;

}
.controls label > input,
.controls label > select {

    position: absolute;
    left: 150px;

}
