html,
body {
  margin: 0;
  padding: 0;
  font-family: "Arial", "Helvetica", sans-serif;
  height: 100%;
  width: 100%;
  background: #ddd;
  overflow-y: hidden;
}

body {
  text-align: center;
}

#video,
#copy {
  display: none;
}

#target {
  margin: 0;
  border: none;
  display: inline;
}

.controls,
.started .info,
button,
input[type="radio"] {
  display: none;
}

.started .controls {
  display: inline;
}

.wrapper {
  display: inline-block;
  background: #ffffff;
  width: 300px;
  padding: 20px;
}

button + label,
input[type="radio"] + label {
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

label,
a.home,
a.sourceCode {
  display: inline-block;
  cursor: pointer;
  outline: 0;
  width: 32px;
  height: 32px;
  text-indent: -99999px;
  background-image: url(../img/icons.png);
  background-repeat: no-repeat;
}

a.home {
  background-position: -736px -32px;
  position: relative;
  left: -70px;
  bottom: -58px;
}

a.sourceCode {
  background-position: -736px 0;
  position: relative;
  left: -70px;
  bottom: -58px;
}

#oscillatorColour[value="r"] + label {
  background-position: 0 0;
}

#oscillatorColour[value="g"] + label {
  background-position: -32px 0;
}

#oscillatorColour[value="b"] + label {
  background-position: -64px 0;
}

#oscillatorColour[value="h"] + label {
  background-position: -96px 0;
}

#oscillatorColour[value="s"] + label {
  background-position: -128px 0;
}

#oscillatorColour[value="v"] + label {
  background-position: -160px 0;
}

#filterColour[value="r"] + label {
  background-position: 0 -32px;
}

#filterColour[value="g"] + label {
  background-position: -32px -32px;
}

#filterColour[value="b"] + label {
  background-position: -64px -32px;
}

#filterColour[value="h"] + label {
  background-position: -96px -32px;
}

#filterColour[value="s"] + label {
  background-position: -128px -32px;
}

#filterColour[value="v"] + label {
  background-position: -160px -32px;
}

#resonanceColour[value="r"] + label {
  background-position: -192px 0;
}

#resonanceColour[value="g"] + label {
  background-position: -224px 0;
}

#resonanceColour[value="b"] + label {
  background-position: -256px 0;
}

#resonanceColour[value="h"] + label {
  background-position: -288px 0;
}

#resonanceColour[value="s"] + label {
  background-position: -320px 0;
}

#resonanceColour[value="v"] + label {
  background-position: -352px 0;
}

#ringMod[value="off"] + label {
  background-position: -192px -32px;
}

#ringMod[value="horizontal"] + label {
  background-position: -224px -32px;
}

#ringMod[value="vertical"] + label {
  background-position: -256px -32px;
}

#collator[value="avg"] + label {
  background-position: -672px 0;
}

#collator[value="centre"] + label {
  background-position: -672px -32px;
}

#pitchRow[value="off"] + label {
  background-position: -704px 0;
}

#pitchRow[value="on"] + label {
  background-position: -704px -32px;
}

#connected[value="off"] + label {
  background-position: -640px 0;
}

#connected[value="on"] + label {
  background-position: -640px -32px;
}

label[for="filter"] {
  background-position: 0 -32px;
}

label[for="resonance"] {
  background-position: -96px 0;
}

label[for="offRingMod"] {
  background-position: -96px 0;
}

label[for="horizontalRingMod"] {
  background-position: -96px 0;
}

label[for="verticalRingMod"] {
  background-position: -96px 0;
}

label[for="collator"] {
  background-position: -96px 0;
}

label[for="pitchRow"] {
  background-position: -96px 0;
}

label[for="connected"] {
  background-position: -96px 0;
}

label[for="sine"] {
  background-position: -384px 0;
}

label[for="sawtooth"] {
  background-position: -416px 0;
}

label[for="triangle"] {
  background-position: -448px 0;
}

label[for="square"] {
  background-position: -480px 0;
}

label[for="allpass"] {
  background-position: -512px 0;
}

label[for="highpass"] {
  background-position: -544px 0;
}

label[for="lowpass"] {
  background-position: -576px 0;
}

label[for="bandpass"] {
  background-position: -608px 0;
}

input[type="radio"]:checked + label {
  background-position-y: -32px;
}
